files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization on
packages:
  yum:
    MySQL-python: []
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "nobody@amazon.com"
  "aws:elasticbeanstalk:application:environment":
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
